* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.banner-container {
    height: 100vh;
    background-image: url('asset/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.title {
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.primary {
    color: red;
}

.description {
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.btn {
    padding: 12px 20px;
    border: none;
}

.bg-primary {
    background-color: red;
    color: white;
}

.service-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url('asset/image/footer-bg.png'), linear-gradient(rgba(0, 0, 0, 1.2), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;

}

.box {
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;
    /* box-shadow: 4px 4px 8px gray; */
}

.icon {
    width: 70px;
    margin-bottom: 20px;
}

.service-description {
    width: 50%;
}

.first-two-box {
    display: flex;
    gap: 3px;
    margin-top: 5px;
}

.author-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.author-container {
    display: flex;
    align-items: center;
    gap: 20px;

}

.profile-container {
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding-right: 20px;
}

.phone-call{
    display: flex;
    align-items: center;
}

.appointment-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: rgba(245, 0, 0, 0.96);
    border-radius: 10px;
    margin-top: -30px;
}

.blog-title{
    color: black;
    text-align: center;
    margin: 50px;
}

.card{
    width: 250px;
    height: 360px;
    box-shadow: 4px 8px 4px gray;
    border-radius: 8px;
}

.blog-img{
    width: 100%;
    border-radius: 8px;
}

.card-title{
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-description{
    margin-top: 10px;
    color: rgb(84, 84, 84);
}

.cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-bottom: 30px;
}

.blog-container{
    width: 100%;

}